  <!--
  Robert Foster
  Student Number : X17140404
  Routes (Home#index)
  Find me in app/views/home/index.html.erb
  -->

<div class="container">
  <h1 class="text-muted">News Site Main page</h1>
  <%= search_form_for @q do |f| %>
  <%= f.search_field :body_cont %>

  <%= f.submit name: ''%>
  <% end %>
  <h2 class="text-muted">Published posts</h2>
  <div class="row">
        <table class="table table-striped">
          <tr>
          </tr>
          <%= render @posts = Post.where(:published => true)%>
        </table>
  </div>
<!-- if twitter timeline isnt showing please check the status at https://api.twitterstat.us/ -->
  <a class="twitter-timeline" data-width="300" data-height="400" data-theme="light"
   href="https://twitter.com/SkyNewsBreak?ref_src=twsrc%5Etfw"></a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
